@inherits LayoutComponentBase



<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />



<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <span>Agenda</span>

    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen" ClipMode="DrawerClipMode.Always" Width="330px">
        <NavMenu />

    </MudDrawer>
    <MudMainContent>
        <MudContainer Class="mt-3" MaxWidth="MaxWidth.Large">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<MudThemeProvider Theme="_currentTheme" />

@code {

    private MudTheme _currentTheme = new MudTheme
        {
            Palette = new Palette()
            {

                Primary = "#eb9234",
                AppbarBackground = "#44629e",
                BackgroundGrey = "#27272f",

                AppbarText = "#ffff",
                DrawerBackground = "#162c56",
                DrawerText = "#ffffffb3",
                DrawerIcon = "#ffffffb3",

            }
        };


    bool _drawerOpen = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }


}
