

.materialContainer {
    margin-top: 100px;
    background: rgba(237, 238, 240, 0.616);
    border-radius: 15px;
    padding: 0%;
    width: 80%;
    box-shadow: -2px 0px 12px 5px rgba(0, 0, 0, 0.219);
}

.btn-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-control .icon {
    color: rgba(255, 0, 0, 0.534);
    font-size: 27px;
    margin-left: 5px;
}




.form {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.form-header {
    margin-top: 6px;
}

.title_formHeader {
    color: rgb(19, 16, 16);
    text-align: center;
    font-size: 20px;
}

.label_form {
    color: hsl(0, 0%, 14%);
    font-size: 15px;
}

.info-label {
    font-size: 30px;
}

.info-p {
    font-size: 25px !important;
    font-weight: bolder;
}


.inputs {
    background: rgb(255, 254, 254);
    border: none;
    border-radius: 15px;
}

    .inputs:focus {
        color: #495057;
        background-color: #fff;
        border-color: #424446;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(8, 8, 8, 0.25);
    }

.form-info-detail {
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.btn:hover {
    color: #cbcbcf;
    text-decoration: none;
}

.btn-action {
    margin-top: 10px;
}

.btn-submit {
    background: rgba(31, 72, 185, 0.623);
    color: white;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}

.btn-delete {
    background: rgba(185, 31, 31, 0.623);
    color: white;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}
.add-btn ,.remove-btn {
    border-radius: 15px;
    cursor: pointer;
    color:white;
    font-size: 10px;

}

.add-btn {
    background: rgba(36, 82, 206, 0.568) !important;


}
.remove-btn {
    background: rgba(199, 21, 21, 0.568) !important;

}


.container_table {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.table_minimalist {
    width: 100%;
    padding: 5px;
}

th {
    color: white;
}

.table-header {
    display: flex;
    width: 100%;
    height: 40px;
    background: rgba(31, 66, 180, 0.664);
    padding: 4px;
}

.header__item {
    text-transform: uppercase;
    margin-top: 5px;
}

.table-row {
    display: flex;
    width: 100%;
    font-size: 15px;
    margin: 2px;;
}


.table-data, .header__item {
    flex: 1 1 20%;
    text-align: center;
}

.table_info {
    align-items: center;
    text-align: center;
    margin-top: 30px;
}


.title_table_info, .subTitle_table_info {
    color: rgb(160, 155, 155);
}

.combo-box {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    word-wrap: initial;
}

.detail-optionalInfo {
    background: rgba(255, 0, 0, 0.685);
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.control-bt {
    align-items: right;
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.multi-input{
    margin-top: 10px !important;
}

.accountTable{
    margin: 0;
    padding: 0;
}

.btn-action-table button{
    margin-left: 30px;
    font-size: 22px !important;
}

@media (max-width: 600px) and (min-width:200px) {
    .materialContainer {
        height: 100%;
        position: relative;
    }

    .btn-action {
        margin-top: 150px;
    }
}

@media (min-width:800px) {
    .title_formHeader {
        font-size: 30px;
    }
}
